.App {
  text-align: start;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Inter';
}

.main {
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.header-title {
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #000;

  @media (max-width: 768px) {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-size: 37px;
    letter-spacing: 0.5em;
  }
}

@media (max-width: 768px) {
  .header-title {
    font-size: 32px;
  }
}

.grid-container {
  margin: auto 40px;
  height: calc(100% - 20px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2vw;

  @media (max-width: 768px) {
    margin: auto 0;
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
}

.goodLogo-container {
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 768px) {
    grid-row: 4 / span 1;
    grid-column: 1;
    border-radius: 0;
    border: none;
    height: 250px;
  }
}

.goodLogo-image {
  height: 70%;

  position: absolute;
  right: -48px;
  bottom: -38px;
  @media (max-width: 768px) {
    height: 100%;
  }
}